.container1 {
    display: flex;
    justify-content: space-around;
    width: 70em;

  }

.box1 {
    width: 6em;
    height: 10em;
    background-color: greenyellow;
    border: solid 1px;
}

.container2 {
    display: flex;
    flex-direction: row;
    width: 70em;
   
  }

.box2 {
    width: 10em;
    height: 3em;
    background-color: red;
    border: solid 1px;
}

.box3 {
    flex-grow: 4;
    background-color: red;
    border: solid 1px;
}
