.container1 {
    display: grid;
    grid-template-columns: 20em 20em 20em;
  }

.box1 {
    background-color: red;
    height: 90px;
    border: solid 1px;
}


.container2 {
    display: grid;
    grid-template-columns: 20em 20em 20em;
    height: 300px;

  }

.box2 {
    background-color: greenyellow;
    border: solid 1px;
}

.a {
    grid-column: 1 / 4;
    grid-row: 1;
    }
.b {
    grid-column: 1;
    grid-row: 2 / 5;
    }
.c {
    grid-column: 2 ;
    grid-row: 2 ;
    }
.d {
    grid-column: 3;
    grid-row: 2;
    }
    
.e {
    grid-column: 2;
    grid-row: 3;
    }

