.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

#img1 {
    padding: 0.5em;
    margin: 1em 0.5em;
    background-color: blue;
}
li:nth-child(odd) {
    color: purple;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25em;
  }

.box {
    width: 6em;
    height: 1em;
    border-color: purple;
}