h2 {
   padding: 6px 3px;
    border-color: grey;
    border-style: solid;
    margin-bottom: 8px;
}

input, label, textarea, .submit {
    margin: 6px 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.post_elem {
border: solid grey;
margin-bottom: 8px;
border-radius: 5px;
padding: 4px 6px;
}

.delete_button {
    float: right;
}

h3 {
    margin-top: 0px;
    margin-bottom: 6px;
    text-decoration: underline;
  }