.wrapper {
    max-width: 800px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}
.wrapper div {
    width: 200px;
    height: 200px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-auto-rows: 300px;
    max-width: 800px;
    margin: auto;
 }


#box1 {
    background-color: blueviolet;
}

#box2 {
    background-color: burlywood;
}

#box3 {
    background-color: rebeccapurple;
}

#box4 {
    background-color: palegoldenrod;
}

#box5 {
    background-color: cornsilk;
}